body{
  background-color: rgb(253, 248, 232);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #342d2c;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 768px) {
  .App-header {
    min-height: 40vh;
    padding: 10px;
  }

  .App-logo {
    height: 30vmin;
  }

  .social_icon {
    height: 28px;
    margin-top: 10px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.social_link_container {
  display: flex;
}

.social_link {
  margin-left: 20px;
}

.social_icon {
  height: 35px;
  width: auto;
  margin-top: 20px;
}
